@import '@/styles/variables.module.scss';

.container {
    width: 100%;

    columns: 4;
    column-gap: 5px;
}

.image {
    width: 100%;
    height: fit-content;
    object-fit: cover;

    transition: .2s all ease-in-out;

    cursor: pointer;

    &:hover {
        filter: brightness(.7)
    }
}

@media screen and (max-width: 850px) {
    .container {
        columns: 3;
    }
}

@media screen and (max-width: 650px) {
    .container {
        columns: 2;
    }
}

@media screen and (max-width: 500px) {
    .container {
        columns: 1;
    }
}