@import '@/styles/variables.module.scss';

.container {
    height: 55px;

    display: flex;

    align-items: center;
    justify-content: space-between;

    font-family: $font-wanted;
    font-size: 14px;

    color: $color-gray;
}