@import '@/styles/variables.module.scss';

.container {
    height: 70px;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    text-align: left;
}

.title {
    font-weight: 500;

    font-size: 31px;
    line-height: 30px;

    margin: 0;

    opacity: 0;

    color: $color-text-transparent;

    strong {
        color: $color-black;
        font-weight: 500;
    }
}

.titleContainer {
    text-decoration: none;
    
    cursor: pointer;

    display: flex;
    align-items: center;

    .logoSVG {
        margin-right: 7px;
    
        width: 30px;
        height: 30px;
    }

    span {
        font-family: $font-wanted;
        font-size: 22px;
        letter-spacing: -.5px;
    }
}

.button {
    height: 40px;
    padding: 0px 17px;

    color: $color-white;

    font-family: $font-wanted;
    font-weight: 300;
    font-size: 16px;

    border-radius: $radius-m;

    border: 0;
    background-color: $color-primary;

    cursor: pointer;
    transition: .2s all ease-in-out;
}

.loginButton {
    @extend .button;

    padding: 9px 17px;

    text-decoration: none;

    margin-left: 10px;

    color: $color-primary;
    background-color: $color-white;

    border: 1.5px solid $color-border;

    &:hover {
        background-color: $color-background-hover;
    }
}