@import '@/styles/variables.module.scss';

.container {
    height: 120px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    text-align: left;
}

.title {
    font-family: $font-lora;
    font-weight: 500;

    font-size: 31px;
    line-height: 30px;

    margin: 0;

    opacity: 0;

    color: $color-text-transparent;

    strong {
        color: $color-black;
        font-weight: 500;
    }
}