@import '@/styles/variables.module.scss';

.tabContainer {
    width: 100%;

    display: flex;
    justify-content: center;

    border-bottom: 1px solid $color-border;
}

.tabItem {
    height: 50px;
    font-family: $font-wanted;

    display: flex;
    align-items: center;

    font-size: 16px;

    padding: 0px 20px;

    cursor: pointer;

    color: $color-text-transparent;

    svg {
        margin-right: 8px;
    }
}

.tabItem[data-selected="true"] {
    color: $color-black;
    border-bottom: 3px solid $color-primary;
}