@import '@/styles/variables.module.scss';

.container {
    width: calc(100% - 30px);
    max-width: 600px;

    margin: 0 auto;
    padding: 0 15px;

    display: flex;
    flex-direction: column;
}

.container[data-setting="true"] {
    max-width: 450px;
}

.container[data-visible="false"] {
    display: none;
}