@import '@/styles/variables.module.scss';

.container {
    width: calc(100% - 40px);

    padding: 20px 00px 0px 00px;

    display: flex;
    flex-direction: column;
}

.title {
    font-family: $font-wanted;
    font-size: 18px;
    font-weight: 600;
    
    color: $color-black;
}

.tagListContainer {
    display: flex;
    flex-direction: column;

    margin: 12px 0;
}


.tagContainer {
    display: flex;
    align-items: center;

    font-family: $font-wanted;

    margin-bottom: 15px;

    cursor: pointer;

    &:hover {
        .tagName {
            background-color: $color-gray;
            color: $color-white;
        }
    }
}

.tagName {
    padding: 5px 10px;

    font-size: 14px;

    background-color: $color-background-hover;
    color: $color-gray;

    border-radius: 5px;

    display: flex;
    align-items: center;

    svg {
        width: 12px;
        height: 12px;

        margin-right: 5px;
    }
}

.tagCount {
    margin-left: 10px;

    color: $color-gray;
    
    font-size: 14px;
}