@import '@/styles/variables.module.scss';

.container {
    padding: 0 20px;
}

.wrap {
    display: flex;
}

.imageContainer {
    width: calc(100% - 350px);
    max-width: 1000px;

    margin-right: 30px;
}

.image {
    width: 100%;
    height: auto;
}

.imageTypeContainer {
    width: fit-content;
    padding: 4px 8px;

    border: 1px solid $color-border;
    border-radius: 6px;

    background-color: $color-background-hover;
    color: $color-gray;

    font-family: $font-ibm;
    font-weight: 500;
    font-size: 11px;

    margin-bottom: 10px;
}

.imageName {
    margin: 0;

    font-size: 22px;
    font-family: $font-wanted;
    font-weight: 600;
    letter-spacing: -.5px;
}


.cameraName, .cameraFilm {
    text-decoration: none;
    &:hover {
        text-decoration: underline;

        color: $color-black;

        cursor: pointer;
    }
}

.cameraFilm {
    background-color: $color-background-hover;
    color: $color-gray;

    border: 1px solid $color-border;
    border-radius: 6px;

    padding: 3px 5px;

    font-size: 12px !important;
    font-weight: 500;

    margin-left: 10px;
}

.cameraDetailWrap {
    display: flex;
    flex-direction: column;
}

.imageDetail {
    font-family: $font-ibm;
    font-size: 15px;

    color: $color-gray;

    strong {
        font-weight: 400;

        opacity: .6;
    }
}

.imageDetailContainer {
    height: 100%;
}