@import '@/styles/variables.module.scss';

.container {
    height: 70px;
    width: calc(100% - 40px);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    text-align: left;

    padding: 0 20px;

    border-bottom: 1px solid $color-border;
}

.title {
    font-weight: 500;

    font-size: 31px;
    line-height: 30px;

    margin: 0;

    opacity: 0;

    color: $color-text-transparent;

    strong {
        color: $color-black;
        font-weight: 500;
    }
}

.titleContainer {
    text-decoration: none;
    
    cursor: pointer;

    display: flex;
    align-items: center;

    .logoSVG {
        margin-right: 7px;
    
        width: 30px;
        height: 30px;
    }

    span {
        font-family: $font-wanted;
        font-size: 22px;
        letter-spacing: -.5px;
    }
}

.button {
    height: 40px;
    width: fit-content;
    padding: 0px 17px;

    display: flex;
    align-items: center;

    color: $color-white;

    font-family: $font-wanted;
    font-weight: 300;
    font-size: 16px;

    border-radius: $radius-m;

    border: 0;
    background-color: $color-primary;

    cursor: pointer;
    transition: .2s all ease-in-out;

    &:hover {
        transform: scale(1.07);
    }

    svg {
        margin-right: 5px;
    }
}