@import '@/styles/variables.module.scss';

.container {
    display: flex;
    align-items: center;
}

.logoSVG {
    margin-right: 7px;

    width: 30px;
    height: 30px;

    svg {
        color: $color-white;
    }
}

.logoName {
    font-family: $font-wanted;
    font-size: 23px;

    letter-spacing: -.5px;

    color : $color-white;

    &:visited {
        color: $color-white;
    }

    &:hover {
        color: $color-white;
    }

    &:active {
        color: $color-white;
    }
}