@import '@/styles/variables.module.scss';

.container {
    display: flex;
    align-items: center;
}

.logoSVG {
    margin-right: 7px;

    width: 30px;
    height: 30px;
}

.logoName {
    font-family: $font-wanted;
    font-size: 23px;
    letter-spacing: -.5px;
    color : $color-black;
    &:visited {
        color: $color-black;
    }
    &:hover {
        color: $color-black;
    }
    &:active {
        color: $color-black;
    }
}