// Fonts
$font-lora: "Lora";
$font-wanted: "Wanted Sans" ;
$font-roboto: "Roboto";
$font-ibm: "IBM Plex Mono";

// Colors
$color-primary: #1a1a1a;
$color-white: #fff;
$color-black: #000;
$color-text-transparent: #c9c9c9;
$color-gray: #8a8a8a;
$color-border: #E5E5E5;
$color-background-hover: #f5f5f5;

// Border Radius
$radius-m: 8px