// Fonts
$font-wanted: "Wanted Sans" ;
$font-ibm: "IBM Plex Mono";

// Colors
$color-primary: #477AFF;
$color-white: #fff;
$color-black: #000;
$color-text-transparent: #c9c9c9;
$color-gray: #8a8a8a;
$color-border: #E5E5E5;
$color-background-hover: #f5f5f5;
$color-gray-dark: #5D606C;
$color-blue: #007bff;
$color-blue-hover: #0070e8;
$color-blue-transparent: #004a9a0e;
$color-blue: #8000ff;

$gradient-list-hover: linear-gradient(180deg, #fff, #f8f8f8);

// Border Radius
$radius-m: 8px